/*==========  header  ==========*/
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  padding: 35px 0; }
  header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 148px; }
  header.fixed {
    background: #000; }
  header.header {
    background: #000; }

.logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.btn-burger {
  width: 39px;
  height: 28px;
  fill: #fff;
  margin: 0 auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.list-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 0 auto; }
  .list-navigation li {
    margin: 0 50px 0 0; }
    .list-navigation li:last-child {
      margin: 0; }
    .list-navigation li a {
      fill: none;
      stroke: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

.search-links {
  width: 25px;
  height: 24px; }

.basket-links {
  width: 23px;
  height: 24px; }

.favorite-links {
  width: 27px;
  height: 28px; }

/*==========  header end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
