/*==========  section home ==========*/
.home-slider .slick-dots {
  bottom: 114px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding: 0 20px;
  max-width: 1780px;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.home-slider__bg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.home-slider-item {
  min-height: 1080px;
  padding: 98px 0 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff; }
  .home-slider-item__content {
    margin: auto 0 0; }
  .home-slider-item__title {
    text-transform: uppercase;
    font-size: 100px;
    font-weight: bold;
    font-family: "FuturaPT", sans-serif;
    line-height: 128px; }
  .home-slider-item .btn {
    max-width: 277px;
    width: 100%;
    font-size: 24px; }

/*==========  section home end  ==========*/
/*==========  section bestsellers ==========*/
.bestsellers {
  margin: 84px 0 60px; }

.product-card {
  width: 100%;
  background: #fff;
  position: relative;
  padding: 12px 10px 43px;
  margin: 0 0 17px; }
  .product-card__img {
    width: 100%;
    height: 537px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .product-card__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .product-card__body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 32px 0 0;
    font-size: 18px;
    font-weight: 500; }
  .product-card__name {
    color: #000; }
    .product-card__name:hover {
      color: #C8A7A7; }
  .product-card__price {
    font-weight: bold;
    margin: 0 0 0 auto; }

.btn-add-favorite {
  top: 30px;
  right: 31px;
  position: absolute;
  z-index: 1;
  fill: none;
  stroke: #fff;
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .btn-add-favorite:hover {
    stroke: #C8A7A7; }

/*==========  section bestsellers end  ==========*/
/*==========  section news ==========*/
.news {
  margin: 0 0 68px; }

/*==========  section news end  ==========*/
/*==========  section about ==========*/
.about {
  position: relative;
  color: #fff;
  background: #000 url("../img/about-bg.jpeg") no-repeat left center;
    background-size: calc(100% - 208px);
  padding: 155px 0 210px; }
  .about h2 {
    font-size: 48px; }
  .about .box-text {
    margin: 66px 0 50px;
    font-size: 24px;
    font-family: "AvertaDemoPE", sans-serif;
    max-width: 638px;
    width: 100%; }

.about-logo {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 133px 0 75px; }
  .about-logo:before, .about-logo:after {
    content: '';
    position: absolute;
    left: 45%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background: #fff;
    width: 1px;
    height: 223px; }
  .about-logo:before {
    top: 133px; }
  .about-logo:after {
    bottom: 75px; }
  .about-logo__img {
    padding: 0 10px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .about-logo img {
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
    max-width: 41px; }

/*==========  section about end  ==========*/
/*==========  section catalog ==========*/
.catalog-section {
  margin: 117px 0 192px; }

.catalog-slider {
  margin: 38px 0 0 -10px;
  min-width: 2000px; }
  .catalog-slider .slick-slide {
    padding: 30px 5px;
    width: 287px;
    height: 431px; }
  .catalog-slider__nav {
    margin-left: auto; }

.catalog-card {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: #000; }
  .catalog-card:hover {
    color: #fff;
    position: relative;
    z-index: 2;
    width: calc(100% + 30px); }
    .catalog-card:hover:before {
      opacity: 0; }
    .catalog-card:hover .catalog-card__img {
      height: calc(100% + 60px);
      -webkit-filter: none;
              filter: none;
      opacity: 1; }
  .catalog-card__name {
    padding: 39px 27px;
    width: 100%; }
  .catalog-card__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: .5;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    z-index: -2;
    -webkit-transition: .3s ease;
    transition: .3s ease; }

/*==========  section catalog end  ==========*/
/*==========  section services-section ==========*/
.services-section {
  position: relative;
  color: #fff;
  z-index: 1;
  padding: 84px 0 102px;
  background: #000; }
  .services-section .box-text {
    margin: 48px 0 76px;
    font-size: 24px;
    font-family: "AvertaDemoPE", sans-serif; }
  .services-section:before {
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    background: url("../img/services-bg.png") no-repeat center;
      background-size: cover;
    opacity: .4; }
  .services-section .btn {
    padding: 0 56px;
    font-size: 14px; }

.services-item {
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding: 70px 20px;
  font-size: 24px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
  text-transform: uppercase; }
  .services-item:hover {
    color: #C8A7A7; }

/*==========  section services-section end  ==========*/
/*==========  section reviews ==========*/
.reviews {
  margin: 162px 0; }
  .reviews h2 {
    margin: 0 0 55px; }
  .reviews .btn {
    font-size: 14px;
    margin: 40px auto 0;
    padding: 0 43px; }

.reviews-box {
  width: 100%;
  margin: 0 0 36px;
  border: 1px solid #C8A7A7;
    border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .reviews-box img {
    width: 100%; }

/*==========  section reviews end  ==========*/
/*==========  section certificate ==========*/
.certificate {
  margin: 197px 0 173px; }

.certificate-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .certificate-box__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 670px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden; }
    .certificate-box__img img {
      width: 100%; }
  .certificate-box__body {
    width: calc(100% - 670px);
    padding: 0 0 0 40px; }
  .certificate-box .box-text {
    font-size: 20px;
    line-height: 29px;
    font-family: "AvertaDemoPE", sans-serif;
    margin: 0 0 20px; }

/*==========  section certificate end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
