@import "vars"

/*==========  section home ==========*/
.home-slider
  .slick-dots
    bottom: 114px
    left: 50%
    transform: translate(-50%,0)
    padding: 0 20px
    max-width: 1780px
    width: 100%
    justify-content: flex-end
  &__bg
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    width: 100%
    height: 100%
    object-fit: cover

.home-slider-item
  min-height: 1080px
  padding: 98px 0 160px
  display: flex
  flex-direction: column
  color: #fff
  &__content
    margin: auto 0 0
  &__title
    text-transform: uppercase
    font-size: 100px
    font-weight: bold
    font-family: $futura-font
    line-height: 128px
  .btn
    max-width: 277px
    width: 100%
    font-size: 24px

/*==========  section home end  ==========*/



/*==========  section bestsellers ==========*/
.bestsellers
  margin: 84px 0 60px

.product-card
  width: 100%
  background: #fff
  position: relative
  padding: 12px 10px 43px
  margin: 0 0 17px
  &__img
    width: 100%
    height: 537px
    @include d-flex
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__body
    width: 100%
    display: flex
    align-items: center
    flex-wrap: wrap
    padding: 32px 0 0
    font-size: 18px
    font-weight: 500
  &__name
    color: #000
    &:hover
      color: $accent
  &__price
    font-weight: bold
    margin: 0 0 0 auto



.btn-add-favorite
  top: 30px
  right: 31px
  position: absolute
  z-index: 1
  fill: none
  stroke: #fff
  width: 26px
  height: 26px
  @include d-flex
  &:hover
    stroke: $accent
/*==========  section bestsellers end  ==========*/


/*==========  section news ==========*/
.news
  margin: 0 0 68px
/*==========  section news end  ==========*/



/*==========  section about ==========*/
.about
  position: relative
  color: #fff
  background: #000 url("../img/about-bg.jpeg") no-repeat left center
    size: calc(100% - 208px)
  padding: 155px 0 210px
  h2
    font-size: 48px

  .box-text
    margin: 66px 0 50px
    font-size: 24px
    font-family: $averta-font
    max-width: 638px
    width: 100%

.about-logo
  position: absolute
  right: 0
  top: 0
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  padding: 133px 0 75px
  &:before, &:after
    content: ''
    position: absolute
    left: 45%
    transform: translate(-50%,0)
    background: #fff
    width: 1px
    height: 223px
  &:before
    top: 133px
  &:after
    bottom: 75px
  &__img
    padding: 0 10px
    transform: rotate(90deg)
    @include d-flex
  img
    filter: brightness(0) invert(1)

    max-width: 41px

/*==========  section about end  ==========*/


/*==========  section catalog ==========*/
.catalog-section
  margin: 117px 0 192px

.catalog-slider
  margin: 38px 0 0 -10px
  min-width: 2000px
  .slick-slide
    padding: 30px 5px
    width: 287px
    height: 431px
  &__nav
    margin-left: auto

.catalog-card
  position: relative
  width: 100%
  height: 100%
  z-index: 1
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-end
  font-weight: bold
  font-size: 24px
  color: #fff
  text-transform: uppercase
  transition: .3s ease
  left: 50%
  transform: translate(-50%,0)
  background: #000
  &:hover
    color: #fff
    position: relative
    z-index: 2
    width: calc(100% + 30px)
    &:before
      opacity: 0
    .catalog-card__img
      height: calc(100% + 60px)
      filter: none
      opacity: 1
  &__name
    padding: 39px 27px
    width: 100%

  &__img
    width: 100%
    height: 100%
    object-fit: cover
    position: absolute
    left: 50%
    top: 50%
    opacity: .5
    transform: translate(-50%,-50%)
    filter: grayscale(100%)
    z-index: -2
    transition: .3s ease
/*==========  section catalog end  ==========*/



/*==========  section services-section ==========*/
.services-section
  position: relative
  color: #fff
  z-index: 1
  padding: 84px 0 102px
  background: #000
  .box-text
    margin: 48px 0 76px
    font-size: 24px
    font-family: $averta-font
  &:before
    content: ''
    z-index: -1
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    object-fit: cover
    filter: grayscale(100%)
    background: url("../img/services-bg.png") no-repeat center
      size: cover
    opacity: .4
  .btn
    padding: 0 56px
    font-size: 14px

.services-item
  width: 100%
  height: 100%
  text-align: center
  display: flex
  align-items: center
  justify-content: center
  color: #fff
  padding: 70px 20px
  font-size: 24px
  font-weight: bold
  background: rgba(0, 0, 0, 0.5)
  text-transform: uppercase
  &:hover
    color: $accent
/*==========  section services-section end  ==========*/


/*==========  section reviews ==========*/
.reviews
  margin: 162px 0
  h2
    margin: 0 0 55px
  .btn
    font-size: 14px
    margin: 40px auto 0
    padding: 0 43px

.reviews-box
  width: 100%
  margin: 0 0 36px
  border: 1px solid #C8A7A7
    radius: 10px
  overflow: hidden
  @include d-flex
  img
    width: 100%

/*==========  section reviews end  ==========*/



/*==========  section certificate ==========*/
.certificate
  margin: 197px 0 173px

.certificate-box
  display: flex
  align-items: center
  flex-wrap: wrap
  &__img
    @include d-flex
    max-width: 670px
    width: 100%
    border-radius: 20px
    overflow: hidden
    img
      width: 100%
  &__body
    width: calc(100% - 670px)
    padding: 0 0 0 40px
  .box-text
    font-size: 20px
    line-height: 29px
    font-family: $averta-font
    margin: 0 0 20px

/*==========  section certificate end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/
